form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input:focus, button:focus{
    outline: none;
}

form input {
    max-width: 250px;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #202124;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
    color: rgb(53, 54, 59);
}

form div:last-child {
    display: flex;
}

form div:last-child > button {
    margin: 1rem 1rem 1rem 0;
}

.form__select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

/* Arrow */
.form__select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #202124;
  cursor: pointer;
  pointer-events: none;
}

.form__select_filter {
    padding: 1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

select {
    color: #202124;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}

@media screen and (max-width: 600px) {
    form {
       flex-direction: column;
       margin: 20px;
    } 
    form > div {
        flex-direction: row;
    } 
    form > div > input {
        width: 180px;
    } 
    form > div:last-child {
        width: 255px;
    } 
}