* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 20px;
}

header {
  font-size: 1.8rem;
}

body {
  /* background-image: linear-gradient(120deg, #202124 0%, #313335 100%); */
  background-color: #202124;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

@media screen and (max-width: 600px) {
  header {
    font-size: 1rem !important;
  }
}